<footer>
<div class="container">
  <h4 class="mb-4">
    Tshirt ecommerce©
  </h4>
  <div class="d-flex">
    <div class="col-sm-3 flex-column">
      <h5 class="fw-semibold">Aiuto e contatti</h5>
      <p>Domande frequenti</p>
      <p>Tempi di spedizione</p>
      <p>Come effettuare un reso</p>
      <p>Prodotti partner</p>
    </div>
    <div class="col-sm-5">
      <h5  class="fw-semibold">Spedito da</h5>
      <img src="assets/dhl.png" class="courierLogo" />
      <img src="assets/gls.png" class="courierLogo" />
      <img src="assets/ups.png" class="courierLogo" />

    </div>
    <div class="col-sm-3">
      <h5  class="fw-semibold">Modalità di pagamento</h5>
      <img src="assets/visa.png" class="courierLogo" />
      <img src="assets/mastercard.jpg" class="courierLogo" />
    </div>
    <div class="col-sm-3"></div>

  </div>
</div>
<div class="d-flex justify-content-center footerBottom">
  Copyright 2023
</div>
</footer>
